blocklists
Crashpad
Dictionaries
favicons
Local Storage
Partitions
Session Storage

Cookies
Cookies-journal
TransportSecurity
tabs
hist
Network Persistent State
quickmarks
dls
explorehist
commandhist
